.title-text {
  font-weight: bold;
  font-family: Georgia;
  color: rgb(0, 0, 0);
}
.paragraph-text {
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  word-break: break-word;
  word-wrap: break-word;
  max-width: 1500px;
  white-space: pre-wrap;
}

.main-body {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #a0a0a0;
}

.articleDesc {
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.articleTitle {
  font-family: Georgia;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
.articleTitleSingle {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
a:link {
  text-decoration: none;
}

.articleImg {
  height: 350px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.adImg {
  height: 350px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 5px 5px 5px #a0a0a0;
}

.articleImgSingle {
  height: 550px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.infoRow {
  display: table;
  width: 100%;
}
.inlineR {
  display: table-cell;
  text-align: right;
  color: gray;
}
.inlineL {
  display: table-cell;
  text-align: left;
  font-weight: 500;
}
