.title-text {
  font-weight: bold;
  font-family: Georgia;
  color: rgb(0, 0, 0);
}
.paragraph-text {
  font-weight: bold;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.main-body {
  background-color: white;
}

.postDesc {
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.postTitle {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  color:black;
}
a:link { text-decoration: none; }
