html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#content {
  flex: 1;
  padding: 20px;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
#feed {
  height: 100%;
  width: 100%;
}
/* .flex-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex: 1;
  text-align: center;
  align-items: center;
} */

#flex {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#article {
  border-style: solid;
  align-items: center;
  text-align: center;
}
#article-content {
  text-align: left;
  padding: 5px;
}
.first-third {
  width: 60%;
  padding: 10px;
  float: left;
}

.second-third {
  width: 20%;
  padding: 10px;
  float: left;
}

.third-third {
  width: 20%;
  padding: 10px;
  float: right;
}

@media only screen and (max-width: 960px) {
  .first-third {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .second-third {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .third-third {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }
}

/* .navbar-nav>li, .navbar-nav {
      float: left !important;
  } */
