html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: "gray";
}
#content {
  flex: 1;
  padding: 20px;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
/*#feed {
  height: 100%;
  width: 100%;
}*/

/* .flex-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex: 1;
  text-align: center;
  align-items: center;
} */
#feed-body {
  background-color: black;
  display: flex;
  height: 700px;
}
.video {
  background-color: #daa520;
}

#flex {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#article {
  border-style: solid;
  align-items: center;
  text-align: center;
  background-color: #daa520;
  height: 100%;
}
#article-content {
  text-align: left;
  padding: 5px;
}
.first-third {
  width: 50%;
  padding: 10px;
  float: left;
}

.second-third {
  width: 25%;
  padding: 10px;
  float: left;
}

.third-third {
  width: 25%;
  padding: 10px;
  float: right;
}
#video {
  width: 100%;
  height: 20%;
}
#score-bar {
  width: 100%;
  height: 100%;
  /* background-color: #daa520; */
  background-color: #daa520;
}
#score {
  background-color: white;
  border-radius: 5px;
}
.score-title,
.score-content {
  text-align: center;
}
#line {
  height: 5px;
  color: #daa520;
  background-color: black;
  margin-top: 0px;
  opacity: 1;
}
#socials {
  color: black;
  height: 100px;
  margin-top: 0px;
}
#footerline {
  height: 10px;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 1;
}

@media only screen and (max-width: 960px) {
  .first-third {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .second-third {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .third-third {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }
}

#roster {
  text-align: left;
}

#number {
  padding-right: 5%;
  padding-left: 2%;
  vertical-align: super;
  font-size: 150%;
}

#position {
  text-transform: uppercase;
  font-size: 80%;
  color: dimgray;
}

/* .navbar-nav>li, .navbar-nav {
      float: left !important;
  } */
