.web-title {
  background: white;
  padding: 24px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 1000;
}

.right_col {
  padding-right: 0 !important;
}

.row_fix {
  --bs-gutter-x: 0 !important;
}
